<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>密码重置链接已经发送</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1><a href="{% url 'movies:index' %}">MovieVent</a></h1>
            <p><a href="{% url 'login' %}?next=/">返回登录页面</a></p>
            <h3>密码重置邮件已经发送</h3>
            <p>
              请登录您的邮箱，使用邮件中的新密码登录系统。请尽快修改密码。
            </p>
            <p>
              注意检查垃圾邮件。
            </p>
        </div>
    </div>
</div>
</body>
</html>