{% extends 'base.html' %}


{% block title %}
<title>Vent</title>
{% endblock title %}

{% block main %}
    <div class="container">
		<div style="padding: 30px 0 0 0;">
			<span>正在热映</span>
			<span><a href="{% url 'movies:now_playing' %}" style="font-size: 14px;">全部正在热映</a></span>
			<div class="header">
				<span>{{ movie_list1.number }} / {{ movie_list1.paginator.num_pages }}</span>
				{% if movie_list1.has_previous %}
				<span><a href="?hot_page={{ hot_page }}&&now_playing_page={{ movie_list1.previous_page_number }}">上页</a></span>
				{% endif %}

				{% if movie_list1.has_next %}
				<span><a href="?hot_page={{ hot_page }}&&now_playing_page={{ movie_list1.next_page_number }}">下页</a></span>
				{% endif %}


			</div>
		</div>

		<hr/>
		<div class="row movie_row">
			{% for movie in movie_list1 %}
			<ul class="col-sm-2.4">
                <div class="accord">
                    <li class="poster">
                        <a href="{% url 'movies:detail' movie.id %}">
                            <img src="{{ movie.poster }}">
                        </a>
                    </li>
                    <li class="title">
                        <a href="{% url 'movies:detail' movie.id %}">{{ movie.name }}</a>
                        <strong>{{ movie.rating }}</strong>
                        <!-- <p class="rating">6.0</p> -->
                    </li>
                </div>
			</ul>
			{% endfor %}
		</div>

		<span>热门电影</span>
		<div class="header">
			<span>{{ hot_list.number }} / {{ hot_list.paginator.num_pages }}</span>
			{% if hot_list.has_previous %}
			<span><a href="?hot_page={{ hot_list.previous_page_number }}&&now_playing_page={{ now_playing_page }}">上页</a></span>
			{% endif %}

			{% if hot_list.has_next %}
			<span><a href="?hot_page={{ hot_list.next_page_number }}&&now_playing_page={{ now_playing_page }}">下页</a></span>
			{% endif %}
			<span><a href="{% url 'movies:explore' %}?tag=热门">更多>></a></span>
		</div>
		<hr>
		<div class="row movie_row">
			{% for movie in hot_list %}
			<ul class="col-sm-2.4">
                <div class="accord">
                    <li class="poster">
                        <a href="{% url 'movies:detail' movie.id %}">
                            <img src="{{ movie.poster }}">
                        </a>
                    </li>
                    <li class="title">
                        <a href="{% url 'movies:detail' movie.id %}">{{ movie.name }}</a>
                        <strong>{{ movie.rating }}</strong>
                        <!-- <p class="rating">6.0</p> -->
                    </li>
                </div>
			</ul>
			{% endfor %}

		</div>

		<span>口碑榜</span>
		<div class="header">
			<span>{{ rating_list.number }} / {{ rating_list.paginator.num_pages }}</span>
			{% if rating_list.has_previous %}
			<span><a href="?hot_page={{ hot_page }}&&now_playing_page={{ now_playing_page }}&&rating_page={{ rating_list.previous_page_number }}">上页</a></span>
			{% endif %}

			{% if rating_list.has_next %}
			<span><a href="?hot_page={{ hot_page }}&&now_playing_page={{ now_playing_page }}&&rating_page={{ rating_list.next_page_number }}">下页</a></span>
			{% endif %}
			<span><a href="{% url 'movies:explore' %}?sort=rank">更多>></a></span>
		</div>
		<hr>
		<div class="row movie_row">
			{% for movie in rating_list %}
			<ul class="col-sm-2.4">
                <div class="accord">
                    <li class="poster">
                        <a href="{% url 'movies:detail' movie.id %}">
                            <img src="{{ movie.poster }}">
                        </a>
                    </li>
                    <li class="title">
                        <a href="{% url 'movies:detail' movie.id %}">{{ movie.name }}</a>
                        <strong>{{ movie.rating }}</strong>
                        <!-- <p class="rating">6.0</p> -->
                    </li>
                </div>
			</ul>
			{% endfor %}

		</div>

		<div class="footer">
			<footer>@ 2018 Vent All Rights Reserved</footer>
		</div>

	</div>
{% endblock main %}