{% extends 'base.html' %}


{% block title %}
<title>选电影</title>
{% endblock title %}


{% block main %}
<div class="container">
    <h3>选电影</h3>


    <form method="get" id="explore" action="{% url 'movies:explore' %}">
    <div class="tag-list">

            <!--<div class="btn-group" role="group" aria-label="Basic example">-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="热门">热门</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="最新">最新</button>-->
                <!--<button type="submit" class="btn btn-secondary active" name="tag" value="动作">动作</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="喜剧">喜剧</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="爱情">爱情</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="科幻">科幻</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="悬疑">悬疑</button>-->
                <!--<button type="submit" class="btn btn-secondary" name="tag" value="恐怖">恐怖</button>-->
            <!--</div>-->
            <div class="btn-group btn-group-toggle" id="tag" data-toggle="buttons">
                <label class="btn btn-secondary" for="tag1">
                <input type="radio" name="tag" id="tag1" value="热门"> 热门
                </label>
                <label class="btn btn-secondary" for="tag2">
                <input type="radio" name="tag" id="tag2" value="最新"> 最新
                </label>
                <label class="btn btn-secondary" for="tag8">
                <input type="radio" name="tag" id="tag8" value="动作"> 动作
                </label>
                <label class="btn btn-secondary" for="tag3">
                <input type="radio" name="tag" id="tag3" value="喜剧"> 喜剧
                </label>
                <label class="btn btn-secondary" for="tag4">
                <input type="radio" name="tag" id="tag4" value="爱情"> 爱情
                </label>
                <label class="btn btn-secondary" for="tag5">
                <input type="radio" name="tag" id="tag5" value="科幻"> 科幻
                </label>
                <label class="btn btn-secondary" for="tag6">
                <input type="radio" name="tag" id="tag6" value="悬疑"> 悬疑
                </label>
                <label class="btn btn-secondary" for="tag7">
                <input type="radio" name="tag" id="tag7" value="恐怖"> 恐怖
                </label>
            </div>


        <hr>
    </div>

    <div class="sort">
        <label for="option1">
            <input type="radio"  id="option1" name="sort" value="recommend">
            按热度排序
        </label>


        <label for="option2">
            <input type="radio" id="option2" name="sort" value="time">
            按时间排序
        </label>

        <label for="option3">
            <input type="radio" id="option3" name="sort" value="rank">
            按评价排序
        </label>

        <button type="submit">提交</button>


    </div>
    </form>

    <div class="row test">
        <!-- 每页10 － 12个条目 -->

        {% for movie in movie_list %}
        <ul class="col-sm-2.4">
            <div class="accord">
                <li class="poster">
                    <a href="{% url 'movies:detail' movie.id %}">
                        <img src="{{ movie.poster }}">
                    </a>
                </li>
                <li class="title">
                    <a href="{% url 'movies:detail' movie.id %}">{{ movie.name }}</a>
                    <strong>{{ movie.rating }}</strong>
                    <!-- <p class="rating">6.0</p> -->
                </li>
            </div>
        </ul>
        {% endfor %}



    </div>

    <div class="pagination"> <!-- 网页导航 -->
        <span><a href="?tag={{ tag }}&sort={{ sort }}"> &laquo;首页</a></span>
        {% if previous_page == True %}
            <span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ current_p }}&page_type=previous"> < 前页</a></span>
        {% endif %}

        {% if next_page == True %}
            <span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ current_p }}&page_type=next"> 后页 ></a></span>
        {% endif %}
        <!--{% if movie_list.has_previous %}-->
            <!--<span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ movie_list.previous_page_number }}"> < 前页</a></span>-->
        <!--{% endif %}-->

        <!--{% if movie_list.has_next %}-->
            <!--<span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ movie_list.next_page_number }}"> 后页 ></a></span>-->
        <!--{% endif %}-->
    </div>

    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">
/*
$(document).ready(function(){
    $(".sort label").click(function(){
        $("#explore").submit();

    });

    $("#tag label").click(function(){

        $("#explore").submit();

    });

});
*/
</script>
{% endblock script %}
