{% extends 'base.html' %}


{% block title %}
<title>选电影</title>
{% endblock title %}


{% block main %}
<div class="container">
    <h3>选电影</h3>


    <form method="get" id="explore" action="{% url 'movies:explore' %}">

        <div class="tag-list">
            <div class="btn-group btn-group-toggle">
                <label class="btn btn-secondary" for="tag1">
                    <input type="radio" name="tag" id="tag1" value="热门" hidden> 热门
                </label>
                <label class="btn btn-secondary" for="tag2">
                    <input type="radio" name="tag" id="tag2" value="最新" hidden>最新
                </label>
                <label class="btn btn-secondary" for="tag8">
                    <input type="radio" name="tag" id="tag8" value="动作" hidden> 动作
                </label>
                <label class="btn btn-secondary" for="tag3">
                    <input type="radio" name="tag" id="tag3" value="喜剧" hidden> 喜剧
                </label>
                <label class="btn btn-secondary" for="tag4">
                    <input type="radio" name="tag" id="tag4" value="爱情" hidden> 爱情
                </label>
                <label class="btn btn-secondary" for="tag5">
                    <input type="radio" name="tag" id="tag5" value="科幻" hidden> 科幻
                </label>
                <label class="btn btn-secondary" for="tag6">
                    <input type="radio" name="tag" id="tag6" value="悬疑" hidden> 悬疑
                </label>
                <label class="btn btn-secondary" for="tag7">
                    <input type="radio" name="tag" id="tag7" value="恐怖" hidden> 恐怖
                </label>
            </div>


            <hr>
        </div>

        <div class="sort">
            <label for="recommend">
                <input type="radio" id="recommend" name="sort" value="recommend">
                按热度排序
            </label>


            <label for="option2">
                <input type="radio" id="option2" name="sort" value="time">
                按时间排序
            </label>

            <label for="option3">
                <input type="radio" id="option3" name="sort" value="rank">
                按评价排序
            </label>

            <!--<button type="submit">提交</button>-->


        </div>
    </form>

    <div class="row test">
        <!-- 每页10 － 12个条目 -->

        {% for movie in movie_list %}
        <ul class="col-sm-2.4">
            <div class="accord">
                <li class="poster">
                    <a href="{% url 'movies:detail' movie.id %}">
                        <img src="{{ movie.poster }}">
                    </a>
                </li>
                <li class="title">
                    <a href="{% url 'movies:detail' movie.id %}">{{ movie.name }}</a>
                    <strong>{{ movie.rating }}</strong>
                    <!-- <p class="rating">6.0</p> -->
                </li>
            </div>
        </ul>
        {% endfor %}


    </div>

    <div style="text-align: center; padding: 30px;"> <!-- 网页导航 -->
        <span><a href="?tag={{ tag }}&sort={{ sort }}"> &laquo;首页</a></span>
        {% if previous_page == True %}
        <span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ current_p }}&page_type=previous"> < 前页</a></span>
        {% endif %}

        {% if next_page == True %}
        <span><a href="?tag={{ tag }}&sort={{ sort }}&page={{ current_p }}&page_type=next"> 后页 ></a></span>
        {% endif %}

    </div>

    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>
</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">

$(document).ready(function(){
    // 使标签高亮
    $("input[name='tag'][value={{tag}}]").parent().addClass("active");
    // 选中标签
    $("input[name='tag'][value={{tag}}]").attr("checked", true);
    // 选中排序方式
    $("input[name='sort'][value={{sort}}]").attr("checked", true);

    // 若标签为最新，则排序方式只能为按时间排序，且不可选择
    var tag = "{{ tag }}"
    if (tag == "最新") {
        $("input[name='sort'][value=time]").attr("checked", true);
        $("input[name='sort']").attr("disabled", true);
    }

    $("label").click(function(){
    /*
        var tag = $(this).children("input:first-child").val();
        // var value = $("input[name='tag'][checked]").val();

        alert(tag);
        $.get("{% url 'movies:explore' %}",
            {"tag": tag},
            function(ret) {
                alert(ret);
            }
        ) */

        document.getElementById('explore').submit();

    });
});


</script>
{% endblock script %}
