{% extends 'base.html' %}

{% block title %}
<title>Vent 最受欢迎的影评</title>
{% endblock title %}

{% block main %}
<div class="container">
	<h3>Vent 最受欢迎的影评</h3>
	<div id="top_reviews">
		<a href=""><span>最受欢迎的 ／ </span></a>
		<a href=""><span>新片评论</span></a>

	</div>

	<!-- 每页显示二十条 -->
	<div>
		<hr>
		<div class="row test">
			<div class="review_p1">
				<a href="https://movie.douban.com/subject/6390825/">
						<img class="thumb_img" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2512123434.webp">
				</a>

			</div>

			<div class="review_p2">
				<div class="review_info">
					<span>架空</span>
					<span>2018-03-10 01:23:57</span>
					<span class="r_float">9 有用</span>
				</div>
				<p>记忆这块幕布拔掉电源就空无一物，生活这本小说读了结尾就忘了开头。娶了你才知道梅尔维尔和海明威写不出的人生，嫁给你才明白吉普森或白兰度媲美不过的深情。你不在意我放屁，在意初恋穿的平角内裤；我不介意你尿床，介意隐瞒的风流。房车穿山，药剂穿肠，48年前在浴缸里我就知道，我在意的也只有你。</p>
			</div>

		</div>
	</div>

	<div>
		<hr>
		<div class="row test">
			<div class="review_p1">
				<a href="https://movie.douban.com/subject/6390825/">
						<img class="thumb_img" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2512123434.webp">
				</a>

			</div>

			<div class="review_p2">
				<div class="review_info">
					<span>架空</span>
					<span>2018-03-10 01:23:57</span>
					<span class="r_float">9 有用</span>
				</div>
				<p>记忆这块幕布拔掉电源就空无一物，生活这本小说读了结尾就忘了开头。娶了你才知道梅尔维尔和海明威写不出的人生，嫁给你才明白吉普森或白兰度媲美不过的深情。你不在意我放屁，在意初恋穿的平角内裤；我不介意你尿床，介意隐瞒的风流。房车穿山，药剂穿肠，48年前在浴缸里我就知道，我在意的也只有你。</p>
			</div>

		</div>
	</div>

	<div>
		<hr>
		<div class="row test">
			<div class="review_p1">
				<a href="https://movie.douban.com/subject/6390825/">
						<img class="thumb_img" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2512123434.webp">
				</a>

			</div>

			<div class="review_p2">
				<div class="review_info">
					<span>架空</span>
					<span>2018-03-10 01:23:57</span>
					<span class="r_float">9 有用</span>
				</div>
				<p>记忆这块幕布拔掉电源就空无一物，生活这本小说读了结尾就忘了开头。娶了你才知道梅尔维尔和海明威写不出的人生，嫁给你才明白吉普森或白兰度媲美不过的深情。你不在意我放屁，在意初恋穿的平角内裤；我不介意你尿床，介意隐瞒的风流。房车穿山，药剂穿肠，48年前在浴缸里我就知道，我在意的也只有你。</p>
			</div>

		</div>
	</div>

	<div>
		<hr>
		<div class="row test">
			<div class="review_p1">
				<a href="https://movie.douban.com/subject/6390825/">
						<img class="thumb_img" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2512123434.webp">
				</a>

			</div>

			<div class="review_p2">
				<div class="review_info">
					<span>架空</span>
					<span>2018-03-10 01:23:57</span>
					<span class="r_float">9 有用</span>
				</div>
				<p>记忆这块幕布拔掉电源就空无一物，生活这本小说读了结尾就忘了开头。娶了你才知道梅尔维尔和海明威写不出的人生，嫁给你才明白吉普森或白兰度媲美不过的深情。你不在意我放屁，在意初恋穿的平角内裤；我不介意你尿床，介意隐瞒的风流。房车穿山，药剂穿肠，48年前在浴缸里我就知道，我在意的也只有你。</p>
			</div>

		</div>
	</div>

	<div class="pagination"> <!-- 网页导航 -->
		<span><a href=""><< 首页</a></span>
		<span><a href=""> < 前页</a></span>
		<span><a href=""> 后页 ></a></span>
	</div>

	<div class="footer">
		<footer>@ 2018 Vent All Rights Reserved</footer>
	</div>

</div>
{% endblock main %}