{% extends 'base.html' %}

{% block title %}
<title>{{ movie.name }} 短评</title>
{% endblock title %}


{% block main %}
<div class="container">
    <h3>{{ movie.name }} 短评</h3>
    <div style="padding: 0px 0px 10px 0px;">
        <a href="{{ movie.get_absolute_url }}" style=" color: green;">返回电影详情</a>
    </div>

    <div class="modal fade" id="Comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        写短评
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'movies:all_comments' movie.id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <!-- 先搜索数据库，若存在评论则返回 -->
                        <!--<textarea name="comment" required></textarea>-->
                        {{ form.text }}
                        {{ form.text.errors }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <span style="font-size: 15px"><a href="{% url 'movies:all_comments' movie.id %}?sort=votes" id="popular">热门</a>／<a
            href="{% url 'movies:all_comments' movie.id %}?sort=time" id="new">最新</a></span>
    <span class="w_review" data-toggle="modal" data-target="#Comment">我要写短评</span>
    <hr>

    {% for comment in comment_set %}
    <div> <!-- 影评 -->
        <div class="review_info">
            <span style="color: CornflowerBlue;">{{ comment.user_id.username }}</span>
            <span>{{ comment.time }}</span>
            <span style="float: right;">
                <span>{{ comment.thumb_ups }}</span>
                <a href="javascript:;" data-val="{{ comment.id }}" class="like"> 有用</a>
            </span>
        </div>
        <p>{{ comment.text }}</p>
        <hr>
    </div>
    {% endfor %}


    <!--<div style="text-align: center; padding: 30px;"> &lt;!&ndash; 网页导航 &ndash;&gt;-->
        <!--<span><a href="?sort={{ sort }}&start_pos=0"><< 首页</a></span>-->
        <!--{% if previous_page == True %}-->
        <!--<span><a href="?sort={{ sort }}&start_pos={{ start_pos | add:'-20' }}"> < 前页</a></span>-->
        <!--{% endif %}-->
        <!--{% if next_page == True %}-->
        <!--<span><a href="?sort={{ sort }}&start_pos={{ start_pos | add:'20' }}"> 后页 ></a></span>-->
        <!--{% endif %}-->
    <!--</div>-->

    <!--使用 bootstrap 的分页风格-->
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="?sort={{ sort }}&start_pos=0">首页</a></li>
        {% if previous_page == True %}
        <li class="page-item"><a class="page-link" href="?sort={{ sort }}&start_pos={{ start_pos | add:'-20' }}">前页</a></li>
        {% endif %}

        {% if next_page == True %}
        <li class="page-item"><a class="page-link" href="?sort={{ sort }}&start_pos={{ start_pos | add:'20' }}">后页</a></li>
        {% endif %}
    </ul>


    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>
</div>

{% endblock main %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){

	  // 点击"我要写短评"时触发登录状态验证
	  $('.w_review').click(function(){
	  	var is_login = $('#nav_user').val();
		  if (is_login == undefined) {
			alert("请先登录！");
			$(this).attr('data-target', '#bye');
		  }
	  });

      //  根据排序方式，处理相应的链接，使不可点击
	var sort = '{{ sort }}';
    if(sort == 'time') {
        // alert(sort);
        $('#new').click(false);
        $('#new').css("color", "black");
        $('#new').css("pointer-events", "none");
    }
    else if(sort == 'votes') {
        $('#popular').click(false);
        $('#popular').css("color", "black");
        $('#popular').css("pointer-events", "none");
    }


      $('.like').click(function(){

		var element = $(this); // 保存当前元素
      	var comment_id = $(this).data('val'); // 获取该条评论的 id


      	$.post("{% url 'movies:like_comment' %}",
      		{
      			'comment_id': comment_id,
      			csrfmiddlewaretoken: '{{ csrf_token }}',

      		},

      		function(ret) {
				if(ret["login"] == 0) {
					alert("请先登录！")
				}

				else if(ret["has_commented"] == 1) {
					alert("您已经投过票了！");
				}
				else {
					//alert(ret["user"] + " " + ret["thumb_ups"]);
					element.prev().html(ret["thumb_ups"]);
				}

      		}
      	)
      });

});


</script>
{% endblock script %}