{% extends 'base.html' %}

{% block title %}
<title>Vent 最受欢迎的影评</title>
{% endblock title %}

{% block main %}
<div class="container">
    <h3>Vent 最受欢迎的影评</h3>
    <div id="top_reviews">
        <a href="{% url 'movies:reviews' %}?sort=votes"><span>最受欢迎的 ／ </span></a>
        <a href="{% url 'movies:reviews' %}?sort=time"><span>新片评论</span></a>

    </div>

    <!-- 每页显示二十条 -->
    {% for comment in comment_set %}
    <div>
        <hr>
        <div class="row test">
            <div class="review_p1">
                <a href="{{ comment.movie_id.get_absolute_url }}">
                    <img class="thumb_img"
                         src="{{ comment.movie_id.poster }}">
                </a>
            </div>

            <div class="review_p2">
                <div class="review_info">
                    <span><a
                            href="{% url 'users:homepage' comment.user_id.id %}">{{ comment.user_id.username }}</a></span>
                    <span>{{ comment.time }}</span>
                    <span class="r_float">
                        <span>{{ comment.thumb_ups }}</span>
                        <a href="javascript:;" data-val="{{ comment.id }}" class="like"> 有用</a>
                    </span>
                </div>
                <p>{{ comment.text }}</p>
            </div>

        </div>
    </div>
    {% endfor %}


    <div style="text-align: center; padding: 30px;"> <!-- 网页导航 -->
        <span><a href="{% url 'movies:reviews' %}?{{ sort }}"><< 首页</a></span>
        {% if previous_page == True %}
        <!--<span><a href="sort={{ sort }}?page={{ current_p }}&page_type=previous"> < 前页</a></span>-->
        <span><a href="?sort={{ sort }}&page={{ current_p }}&page_type=previous"> < 前页</a></span>
        {% endif %}

        {% if next_page == True %}
        <span><a href="?sort={{ sort }}&page={{ current_p }}&page_type=next"> 后页 ></a></span>
        {% endif %}
        <span>（共 100 条）</span>
    </div>

    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>

</div>
{% endblock main %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){



      $('.like').click(function(){

		var element = $(this); // 保存当前元素
      	var comment_id = $(this).data('val'); // 获取该条评论的 id


      	$.post("{% url 'movies:like_comment' %}",
      		{
      			'comment_id': comment_id,
      			csrfmiddlewaretoken: '{{ csrf_token }}',

      		},

      		function(ret) {
				if(ret["login"] == 0) {
					alert("请先登录！")
				}

				else if(ret["has_commented"] == 1) {
					alert("您已经投过票了！");
				}
				else {
					//alert(ret["user"] + " " + ret["thumb_ups"]);
					element.prev().html(ret["thumb_ups"]);
				}

      		}
      	)
      });

});


</script>
{% endblock script %}