{% extends 'base.html' %}

{% block title %}
<title>Vent 最受欢迎的影评</title>
{% endblock title %}

{% block main %}
<div class="container">
    <h3>Vent 最受欢迎的影评</h3>
    <div id="top_reviews">
        <a href="{% url 'movies:reviews' %}?sort=votes"><span>最受欢迎的 ／ </span></a>
        <a href="{% url 'movies:reviews' %}?sort=time"><span>新片评论</span></a>

    </div>

    <!-- 每页显示二十条 -->
    {% for comment in comment_set %}
    <div>
        <hr>
        <div class="row test">
            <div class="review_p1">
                <a href="{{ comment.movie_id.get_absolute_url }}">
                    <img class="thumb_img"
                         src="{{ comment.movie_id.poster }}">
                </a>
            </div>

            <div class="review_p2">
                <div class="review_info">
                    <span><a href="{% url 'users:homepage' comment.user_id.id %}">{{ comment.user_id.username }}</a></span>
                    <span>{{ comment.time }}</span>
                    <span class="r_float">{{ comment.thumb_ups }} 有用</span>
                </div>
                <p>{{ comment.text }}</p>
            </div>

        </div>
    </div>
    {% endfor %}


    <div class="pagination"> <!-- 网页导航 -->
        <span><a href=""><< 首页</a></span>
        <span><a href=""> < 前页</a></span>
        <span><a href=""> 后页 ></a></span>
    </div>

    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>

</div>
{% endblock main %}