<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% block title %}
    {% endblock title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'movies/movie.css' %}">

    {% block style %}

    {% endblock style %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'movies:index' %}">MovieVent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:explore' %}"> 选电影<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:reviews' %}">影评</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户名</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'users:homepage' user.id %}">个人中心</a>
                        <!--<a class="dropdown-item" href="{% url 'users:account' %}">帐号管理</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">退出</a>
                    </div>
                </li>
                {% endif %}
                <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="输入电影名字" aria-label="Search">
                <button class="btn btn-sm btn-outline-secondary" type="submit" style="margin-right:10px">
                    <!--<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"-->
                         <!--stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"-->
                         <!--class="mx-3">-->
                        <!--<circle cx="10.5" cy="10.5" r="7.5"></circle>-->
                        <!--<line x1="21" y1="21" x2="15.8" y2="15.8"></line>-->
                    <!--</svg>-->
                    🔍
                </button>
            </form>
            {% if user.is_authenticated %}
            {% else %}
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}?next={{ request.path }}" style="margin-right:10px">登录</a>

            <a class="btn btn-sm btn-outline-secondary" href="{% url 'users:register' %}">注册</a>
            {% endif %}
        </div>
    </nav>
</header>

{% block main %}
{% endblock main %}





</body>
</html>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

{% block script %}
{% endblock script %}

