{% extends 'base.html' %}

{% block title %}
<title>{{ username }}</title>
{% endblock title %}

{% block main %}
<div class="container">
    <h4>{{ username }}</h4>
    <ul class="nav nav-tabs">
        <!-- 个人中心对所有人可见，“设置”只对用户本人可见 -->
        <li class="nav-item">
            <a href="#" class="nav-link active">评过</a>
        </li>

        {% if logged_in %}
        <li class="nav-item">
            <a href="{% url 'users:account' %}" class="nav-link">账号管理</a>
        </li>
        {% endif %}
    </ul>
    <br>

    <div class="row test">
        {% for movie in movie_list %}

        <ul class="col-sm-2.4">
            <div class="accord">
                <li class="poster">
                    <a href="{{ movie.get_absolute_url }}">
                        <img src="{{ movie.poster }}">
                    </a>
                </li>
                <li class="title">
                    <a href="{{ movie.get_absolute_url }}">{{ movie.name }}</a>
                    <strong>{{ movie.rating }}</strong>
                </li>
            </div>
        </ul>
        {% empty %}
        <p>暂没评过电影</p>
        {% endfor %}

    </div>

    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>
</div>

{% endblock main %}


