{% extends 'base.html' %}

{% block title %}
<title>{{ user.username }}</title>
{% endblock title %}

{% block main %}
<div class="container">
    <h4>{{ user.username }}</h4>
    <ul class="nav nav-tabs">
        <!-- 个人中心对所有人可见，“设置”只对用户本人可见 -->
        <li class="nav-item">
            <a href="{% url 'users:homepage' user.id %}" class="nav-link">评过</a>
        </li>

        {% if user.is_authenticated %}
		<li class="nav-item">
			<a href="" class="nav-link active">账号管理</a>
		</li>
		{% endif %}
    </ul>
    <br>

    <div>
        <button type="button" class="btn btn-info btn-sm"><a href="{% url 'password_change' %}" class="white">更改密码</a></button>
        <button type="button" class="btn btn-danger btn-sm"><a href="{% url 'users:delete_account' %}" onclick="return del()" class="white">删除账号</a></button>
    </div>


    <div class="footer">
        <footer>@ 2018 Vent All Rights Reserved</footer>
    </div>
</div>

{% endblock main %}

{% block script %}
<script type="text/javascript">
	function del() {
		var name = window.confirm('该操作无法撤销，确认删除账号？');
		if (name) {
			return true;
		}
		else {
			return false;
		}
	}

$(document).ready(function(){
    //使导航栏相应的部分高亮
    $("#nav_user").addClass("active");



});


</script>
{% endblock script %}

